body{
    background-color: rgb(39, 46, 66);
}
.principal {
    background-color: rgb(216, 216, 216);
}

a{ 
    text-decoration: none;
    color: black;
} 
img{
    border-radius: 10px;
    min-width: 75%;
    min-height: 75%;
    max-width:  75%;
    max-height: 75%;
}
hr{ 
    color: rgb(109, 109, 109);
  }
.titulo-pg{
    color: rgb(0, 0, 0);
    height: 40px;
    font-size:40px;
}
.hr-personalizado{
    background: rgb(39, 52, 73);
    height: 7px;
    border-radius: 5px;
}